<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styleCad.css">
        <title>Teste</title>
</head>
<body>
<div class="form-container">
    <form action="#">
        <div class="form-header">
            <div class="title">
                <h1>Cadastro do Usuário</h1>
                <h2>Crie uma conta para acessar seu termômetro...</h2>
            </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="name">Usuário</label>
                    <input id="nome" type="text" placeholder="Nome para usuário" required>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="email">E-mail</label>
                    <input id="email" type="email" placeholder="Digite seu e-mail..." required>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="password">Senha</label>
                    <input id="senha" type="password" placeholder="Digite uma senha..." required>
                </div>
            </div>
            <div class="input-group">
                <div class="input-box">
                    <label for="password">Código de recuperação</label>
                    <input id="cod_rec" type="text" placeholder="Digite qualquer coisa para caso você esquecer a senha" required>
                </div>
            </div>
            <div>
            <button type="submit">Cadastrar</button>
            <h2>Já possui conta? Entre aqui...</h2>
        </div>
        </div>
        

</div>
</body>
</html>
